@import "../fonts/roboto/style.css";
body {
    font-family: "Roboto Regular",Arial, Helvetica, sans-serif!important;
}
a {
    text-decoration: none!important;
}
ul {
    padding-left: 0;
    list-style: none;
}
.header {
    background: url("../image/header-bg.png") repeat-x;
    height: 72px;
    border-bottom: 3px #c1843e solid;
}
.row.header_inner {
    position: relative;
}
.logo {
    position: absolute;
    top: 0;
    left: 38px;
}
.slogan {
    font-weight: bold;
    padding-top: 41px;
    color: #c1843e;
}
ul.menu_fisrt {
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 9px;
}

ul.menu_fisrt > li {
    float: left;
    margin: 0 4px;
}

ul.menu_fisrt > li:after {
    content: "/";font-weight: bold;color: #c1843e;
}

ul.menu_fisrt > li:last-child:after {
    display: none;
}
ul.menu_fisrt > li > a {
    color: #c1843e;
}
h1 {
	font-size: 26px;
	text-align: center;
	line-height: 28px;
	font-family: "Roboto Black";
	margin: 10px 0;
	color: #996600;
	letter-spacing: 1px;
}
.haft-part {
    overflow: hidden;
}
.pull-left.part-4 {
    width: 40%;
}
ul.list_forcus > li {
    padding-left: 23px;
    background: url("../image/bullet.png") left top no-repeat;
    color: #be1e2d;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
    background-size: 15px 15px;
    background-position-y: 5px;
}
ul.list_forcus {
    padding-left: 28px;
}
ul.list_forcus > li > ul {
    padding-left: 134px;
}
.forcus {
    width: 812px;
    margin: 0 auto;
}
strong {
    font-family: "Roboto Black";
    font-weight: normal;
}
h2.box-title {
	margin: 10px 0;
	padding: 8px;
	font-size: 16px;
	text-align: center;
	background: #E5C878;
	color: #603813;
	font-weight: bold;
	border: 2px #603813 solid;
}
.list-bullet > ul > li {
    padding-left: 35px;
    margin-bottom: 5px;
    font-size: 14px;
}
.list-bullet > ul > li {
    padding-left: 35px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #743813;
    background: url("../image/bullet-2.png") left top no-repeat;
    background-position-y: 1px;
    height: 37px;
}
p.description {
    font-size: 14px;
    font-weight: bold;
    color: #743813;
    text-align: justify;
}
.pull-left.part-5 {
    width: 50%;
}

.thanhphan {
    padding-right: 28px;
}
ul.list_normal > li {
    font-size: 14px;
    font-weight: bold;
    color: #743813;
    text-align: justify;
}
h3.text-center {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #743813;
}
.pull-left.part-6 {
    width: 60%;
}
strong.text-lager {
    font-size: 20px;
    text-transform: uppercase;
    display: block;
}
.contact {
    padding: 10px 0;
    background: #E5C878;
}
.form-title {
    margin-bottom: 20px;
    font-size: 17px;
    text-align: center;
    color: #743813;
}

.form {
    padding-right: 15px;
}
input.contactF {
    width: 100%;
    border: 2px #743813 solid;
    background: #fff;
    height: 45px;
    border-radius: 30px;
    padding: 0 10px;
    color: #743813;
    outline: none;
}
input.contactF::-webkit-input-placeholder {
    color: #743813;
    font-size: 18px;
}

input.contactF:-moz-placeholder { /* Firefox 18- */
    color: #743813;
    font-size: 18px;
}

input.contactF::-moz-placeholder {  /* Firefox 19+ */
    color: #743813;
    font-size: 18px;
}

input.contactF:-ms-input-placeholder {
    color: #743813;
    font-size: 18px;
}
button.sendForm {
    border: none;
    width: 134px;
    height: 42px;
    border-radius: 30px;
    background: #982F2C;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    outline: none;
}
.footer-fix {
    height: 49px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url("../image/header-bg.png") repeat-x;
}
.achorIcon {
    position: relative;
}

.IconFooter.phone {
    position: absolute;
    top: -30px;
    left: 40px;
}
.IconFooter > span {
    padding-left: 6px;
    display: block;
    float: left;
    padding-top: 39px;
}

.IconFooter.phone > img {
    float: left;
}
